{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
  'birthday-block',
] %}
<div class="ws-custom--block {{ classes|join(' ') }}">
  {% for value in listBirthdays %}
  <div class="birthday-block-content">
    <a href="/user/{{ value.id }}">
      <div class="icon icon-bday"></div>
      <img class="img-thumbnail rounded-circle" src="{{ file_url(value.url) }}">
      <span>
        <p>{{ value.header }}</p>
        <p class="birthday-name">{{ value.name|capitalize }}</p>
        <p class="birthday-regards">{{ value.jobTitle }}</p>
      </span>
    </a>
  </div>
  {% endfor %}
</div>
