{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
  'birthday-block',
] %}
<div class="ws-custom--block {{ classes|join(' ') }}">
  {% for item in list %}
    <div class="birthday-block-content">
      <a href="{{ item.url }}">
        <div class="icon icon-bday"></div>
        <img class="img-thumbnail rounded-circle" src="{{ item.picture }}">
        <span>
          {% if header %}
            <p>{{ header }}</p>
          {% endif %}
          <p class="birthday-name">{{ item.name }}</p>
          <p class="birthday-regards">{{ item.job_title }}</p>
        </span>
      </a>
    </div>
  {% endfor %}
</div>
