{#
/**
 * @file event_entity.html.twig
 * Default theme implementation to present Event data.
 *
 * This template is used when viewing Event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_entity()
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <div class="event mb-3">
    <a href={{ url }}>
      <div class="event--wrapper d-flex flex-row p-3">
        <div class="event--info-wrapper mr-2">
          <div class="event--date">{{ date_start|date('j/F/Y') }}</div>
          <div class="event--title">{{ content.title }}</div>
          <div class="event--description">
            {{ content.field_description }}
          </div>
        </div>
        <div class="event--image flex-shrink-0">{{ content.field_image }}</div>
      </div>
    </a>
  </div>
{% endif %}
