{#
/**
 * @file news_entity.html.twig
 * Default theme implementation to present Event data.
 *
 * This template is used when viewing Event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_news_entity()
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <div class="news d-flex flex-column flex-md-column flex-lg-row mb-4">
    <div class="news--image flex-shrink-0 mr-sm-4 mb-3 mb-sm-0">{{ content.field_images }}</div>
    <div class="news--info-wrapper d-flex flex-column">
      <div class="news--title pt-3 mb-1">{{ content.title }}</div>
      <div class="news--date">
        <span>{{ content.date_start|date('j/F/Y') }}</span>
        <span>{{ " - " ~ "Published by"|t }}</span>
        <span class="d-inline-block">{{ author_name }}</span>
      </div>
      <div class="news--body">
        {{ content.field_body }}
      </div>
      <div class="news--read-more plus-button mt-auto d-inline-block">
        <a href={{ url }}></a>
      </div>
    </div>
  </div>
{% endif %}
