{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% set classes = [
  'clear-both',
] %}

<div class="ws-custom--block card-group">
  {% for user in listUsers %}
    <div class="card">
      <a class="card-link" href="/user/{{ user.id_user }}">
        <img class="img-thumbnail" src="{{ file_url(user.avatar) }}" title="Total Stars: {{ user.total }}">
        <div class="card-body">
          <p class="card-text">Total Stars: {{ user.total }}</p>
          <p class="card-text"><small class="text-muted">{{ user.name_user }}</small></p>
          <p class="card-text"><small class="text-muted">{{ user.job_title }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
